.book-list-item {
  display: flex;
  margin: 15px 0;
  margin-right: 15px;
}

.book-cover {
  flex-shrink: 0;
  width: 200px;
  margin-right: 20px;
}

.book-cover img {
  max-width: 100%;
}

.book-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: flex-start;
  max-width: 200px;
}

.book-title {
  font-size: 1.2rem;
}

.book-author {

}

.book-price {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
